html {
    background:#018DED url(https://picsum.photos/1500/1000?image=881&blur=7);
    background-size:cover;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    font-size: 10px;
}

body {
    font-size: 2rem;
    display:flex;
    flex:1;
    min-height: 100vh;
    align-items:center;
}


.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin:50px auto;
    position:relative;
    padding: 2rem;
    box-shadow:
        0 0 0px rgba(0,0,0,0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px black,
        0 0 10px rgba(0,0,0,0.2);
}

.clock_face {
    position:relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand {
    
    width: 45%;
    height: 10px;
    background:rgb(63, 48, 82);
    position: absolute;
    top:50%;
    transform-origin: 100%;
    transition: all 0.05s;
    transform: rotate(30deg);
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.hour-hand {
    height: 15px;
}
.second-hand {
    height: 5px;
}